.wrapper {
	min-width: 1200px;
	max-width: 1200px;
}

.diagram>img{
	padding: 10px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	box-sizing: border-box;
	border-radius: 10%;
	border: 2px solid black;
}

.diagram h1 {
	text-align: center;
}